**/target
**/*.iml

.env
.env.example
.envrc

application.properties.example

docker-compose.yaml
docker-compose.yaml.example
docker-bake.hcl

Dockerfile
*.dockerfile

#.git/**
.github/**

secrets
config
config.d
logs
