COMPOSE_PROJECT_NAME=eosc_resource_catalogue

APP_VERSION=532f91f

POSTGRES_PASSWORD=sesame

_REDIS_PASSWORD=somesecret
_CATALOGUE_DATABASE_PASSWORD=someothersecret

_POSTGRES_INIT_SCRIPTS_DOWNLOAD_URL=/s3.sto1.safedc.net/backups-staging/catalogues/db/2025-04-04/init.tgz
